@import '~react-toastify/dist/ReactToastify.css';
@import "~bootstrap/scss/mixins/banner";
@include bsBanner("");
@import "~bootstrap/scss/functions";


$border-color-translucent: rgba(0, 0, 0, 0.125);
$input-border-radius: 0.25rem;
$border-radius: .25rem;
$border-radius-sm: .2rem;
$border-radius-lg: .3rem;
$border-radius-pill: 50rem;


@import "~bootstrap/scss/bootstrap";
.btn:disabled {
  border: none;
}